@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}
:root {
  --color-green-dark: #143335;
  --color-green-light: #bbd8c6;
  --color-green-middle: #92b19f;
  --color-primary: #ff9784;
  --color-base-content: #fad4c9;
  --color-base-content: var(--color-green-dark);
  --color-btn-hover: #d97f6e;
}
/* * {
  margin: auto;
} */
body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--color-green-dark);
}

h2,
h3 {
  font-family: "Fuzzy Bubbles", sans-serif;
}

h1 {
  color: #fad4c9;
  font-family: "Fuzzy Bubbles", sans-serif;
}
p {
  font-family: "Quicksand", sans-serif;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-green-dark: #143335; /*bg-color dunkle grün bg-base-100 */
  --color-green-light: #bbd8c6; /* hell grün */
  --color-green-middle: #92b19f; /* mittel grün */
  --color-primary: #ff9784; /* orange */
  --color-primary-light: #fad4c9; /* hell orange */

  /* --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240); */

  /* --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30); */

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}
.btn {
  border-radius: 25px;
  border: none;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
}
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand uniquifier {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.btn-primary {
  --btn-fg: var(--color-green-dark);

  /* font-size: 24px; */
}

/* Add Entry Modal Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}

/* View EntryModal Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.45s cubic-bezier(0.22, 1.2, 0.32, 1) forwards;
}
