@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Quicksand", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Fuzzy Bubbles", sans-serif;
  color: #ff9784;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #143335; /*bg-color */
  --color-bg-light: #bbd8c6;
  /* --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240); */
  --color-primary: #ff9784;
  --color-primary-content: #ffffff;
  --color-secondary: #92b19f;
  /* --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30); */

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand uniquifier {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
